Language:        Cpp
# C++ 표준을 지정합니다.
Standard:        Cpp17

# 들여쓰기 스타일과 크기를 정의합니다.
IndentWidth:     2
TabWidth:        4
UseTab:          Never

# 중괄호 스타일을 정의합니다.
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterStruct:     false
  AfterUnion:      false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false

# 포인터와 레퍼런스의 정렬을 정의합니다.
PointerAlignment: Left

# 최대 줄 길이를 정의합니다.
MaxLineLength:    80
