# Editor files
.vscode
.idea

# Build output file
engine/build/intermediate/* 
scop/build/intermediate/*
binary
# external library
engine/external/spdlog
engine/external/glfw
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
